@import "tailwindcss";
@config "../tailwind.config.ts";

@theme {
  --font-mono: "JetBrains Mono", monospace;
  --font-manrope: "Manrope", sans-serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
